<mat-card>
  <mat-card-title>Your Profile Details</mat-card-title>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="conainer text-center">
          <img src="../../../../assets/defaultpic.jpeg" alt="" class="profile-image">
        </div>
        <br>
        <div class="container">
          <div class="com-md-10 offset-md-1">
            <table class="table">
              <thead>
              </thead>
              <tbody>
              <tr>
                <th>Username</th>
                <td>Ram</td>
              </tr>
              <tr>
                <th>email</th>
                <td>er.binod7@gmail.com</td>
              </tr>
              <tr>
                <th>Available money</th>
                <td>12$</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
