<mat-card>
    <mat-card-title>Your History Details</mat-card-title>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <br>
                <div class="container">
                    <div class="com-md-10 offset-md-1">
                            <table class="table">
                                <thead>
                                    <th>Game No</th>
                                    <th>Horse No.</th>
                                    <th>Winning Price</th>
                                    <th>Date</th>
                                </thead>
                                <tbody>
                                  <tr >
                                    <td>12</td>
                                    <td>31</td>
                                    <td>$12</td>
                                    <td>2022-01-23</td>
                                  </tr>
                                  <tr>
                                    <td>23</td>
                                    <td>54</td>
                                    <td>$111</td>
                                    <td>2022-01-12</td>
                                  </tr>
                                  <tr>
                                    <td>45</td>
                                    <td>445</td>
                                    <td>$4545</td>
                                    <td>2022-05-23</td>
                                  </tr>
                                </tbody>
                         </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
