<mat-card>
    <mat-card-title class="text-center">Game No: 123</mat-card-title>
    <form>
        <mat-card>
            <mat-card-title>Horse No:23</mat-card-title>
            <br>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-2">Winning progress:</div>
                            <div class="col-md-10">
                                <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 selecting">
                                <mat-form-field appearance="fill">
                                    <mat-label>Choose Betting Price</mat-label>
                                    <select matNativeControl required>
                                        <option value="volvo">5$</option>
                                        <option value="saab">50$</option>
                                        <option value="mercedes">100$</option>
                                        <option value="audi">150$</option>
                                    </select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <button mat-raised-button color="primary">Bet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Horse No:27</mat-card-title>
            <br>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-2">Winning progress:</div>
                            <div class="col-md-10">
                                <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 selecting">
                                <mat-form-field appearance="fill">
                                    <mat-label>Choose Betting Price</mat-label>
                                    <select matNativeControl required>
                                        <option value="volvo">5$</option>
                                        <option value="saab">50$</option>
                                        <option value="mercedes">100$</option>
                                        <option value="audi">150$</option>
                                    </select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <button mat-raised-button color="primary">Bet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</mat-card>