<div [formGroup]="form">
  <h1 mat-dialog-title>{{form.value.id ? 'Edit' : 'Add'}} jockey</h1>
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <div>
      <div class="uploadFileBlock">
        <button mat-flat-button color="primary">Choose File</button>
        <input
          type="file"
          #fileInput
          id="uploadFile"
          (change)="uploadFile($event)"
          name="uploadFile"
          accept="image/*"
        />
      </div>
      <img [src]="form.value.picture || '/assets/no-profile-picture.jpg'"
           (click)="sharedService.openWindow(form.value.picture)" alt="Picture" class="picture"/>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!form.valid || processing$.value"
            (click)="onAddClick()">{{form.value.id ? 'Edit' : 'Add'}}</button>
    <button mat-button (click)="onCancelClick()">Cancel</button>
  </mat-dialog-actions>
</div>
