.home img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.content h1 {
  color: #ffffff;
  font-size: 50px;
}

.content a {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .home img {
    height: 700px;
  }

  .content h1 {
    font-size: 40px;
  }
}
